# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python Cache
.pytest_cache/
.mypy_cache/

# Node.js
node_modules/

# Build Files
dist/
build/